.main .half {
    height: 100vh;
    padding: 4rem 6rem 0;
}

.half--left {
    margin-left: -1.5rem;
    padding-left: 6rem;
    .h1 a { color: $white; }
}

.half--right {
    margin-right: -1.5rem;
    position: relative;
}

.pixel-art { background: url('img/pixel-art.jpg') right -8.5rem; }