.main { margin: 4rem 0 6rem; }

.main--home { margin-top: 0; }

.main--works {
    #tivan_sprite { margin-top: -11rem; }
    #break_fw { margin: 8rem 0; }
}

.home__intro {
    padding: 5rem 0 8rem;
    svg {
        display: block;
        height: 5rem;
        margin: 0 auto 4rem;
        width: 5rem;
    }
}

.home__works {
    h2 { margin-bottom: 5rem; }
    img {
        margin-bottom: 3rem;
        padding: 0 1.5rem
    }
    .tag {
        display: block;
        margin: 0 auto 2rem;
        width: 4rem;
    }
    h3 {
        color: $text-colour;
        font-family: $body-font;
        font-weight: 500;
        margin-bottom: 2rem;
        padding: 0 1.5rem;
        text-transform: capitalize;
    }
    p { padding: 0 1.5rem; }
    .button {
        display: block;
        margin: 4rem auto 0;
        width: 17.5rem;
    }
}

.home__login {
    padding: 10rem 0 8rem;
    h2 { margin-bottom: 6rem; }
    .gradient {
        height: 57rem;
        padding: 5rem 0;
    }
}

.form-wrapper {
    display: none;
    margin-top: 2rem;
    &.active { display: block; }
}

.text-wrapper {
    display: none;
    margin-top: 10rem;
    &.active { display: block; }
    p {
        color: $white;
        font-size: 1.8rem;
        line-height: 1.5;
    }
}

.contact__intro { margin-bottom: 4rem; }

.contact__cta {
    border: .1rem solid #E087B0;
    padding: 2.5rem 2.5rem 7rem;
    position: relative;
    h4 {
        color: $white;
        margin-bottom: 1rem;
    }
    p { color: $white; }
    img {
        bottom: 3.5rem;
        left: 2.5rem;
        position: absolute;
        width: 15rem;
    }
    .button {
        background-color: transparent;
        border-color: $white;
        bottom: 2.5rem;
        color: $white;
        font-size: 1.8rem;
        height: 3.8rem;
        line-height: 3.8rem;
        position: absolute;
        right: 2.5rem;
    }
}