.card__wrapper {
    margin-bottom: 2rem;
    width: 18%;
}

.card__wrapper--small {
    margin-bottom: 1rem;
    width: 31%;
    .card__platform {
        height: 4rem;
        width: 4rem;
    }
}

.card { position: relative; }

.card__platform {
    bottom: 0;
    position: absolute;
    right: 0;
}