.card {
    display: inline-block;
    margin-right: 2rem;
    margin-bottom: 2rem;
}

.card__text {
    padding: 1rem 1.5rem;
    h5 { margin-bottom: 0; }
    p {
        font-size: 1.4rem;
        margin-bottom: 0;
    }
}