.footer {
    padding: 4rem 0 6rem;
    text-align: center;
    .row { border-top: .1rem solid $primary; }
    svg {
        display: inline-block;
        height: 3rem;
        margin: 3rem 2rem -1rem;
        width: 3rem;
    }
    p {
        color: $text-colour-54;
        font-size: 1.4rem;
        text-transform: lowercase;
    }
    a {
        color: $text-colour-54;
        font-family: $heading-font;
        font-weight: 700;
    }
}