.header--main {
    height: 15rem;
    padding-top: 5rem;
}

.header--library {
    background-color: $white;
    padding: 1.5rem 0;
    position: absolute;
    width: 100%;
    z-index: 1;
}

.header__nav {
    margin-top: 1rem;
    text-align: right;
    a {
        color: $text-colour-54;
        font-family: $heading-font;
        font-size: 2rem;
        line-height: 1;
        margin-right: 4rem;
        text-transform: lowercase;
        &.current { color: $primary; }
        &:last-child {
            margin-left: 1rem;
            margin-right: 0;
        }
        @mixin touch-hover() { color: $primary; }
    }
    .button {
        color: $white;
        height: 4rem;
        line-height: 4rem;
    }
}