.section {
    border-bottom: .1rem solid $text-colour-12;
    margin-bottom: 4rem;
    padding: 0 1.5rem;
}

.section__title {
    border: .1rem solid #2AB3A6;
    color: $white;
    font-size: 1.8rem;
    margin: 0 -1.5rem 2rem;
    padding: 1rem 1.5rem;
    .fa { margin-right: 1rem; }
}

.section--connections {
    .section__title { margin-bottom: 0; }
    ul { list-style: none; }
    li {
        border-bottom: .1rem solid $text-colour-12;
        margin-bottom: 0;
        padding: 1rem 0;
        &:last-child { border-bottom: 0; }
    }
}

.section--find_user {
    padding-bottom: 2rem;
    input[type="text"] { width: 100%; }
}