/* Grid & Breakpoints
–––––––––––––––––––––––––––––––––––––––––––––––––– */
$grid-gutter-width-base: 30px !default;
$grid-gutter-width: ($grid-gutter-width-base / 2) !default;

$bp-xl: 1280px !default;
$bp-lg: 1024px !default;
$bp-md: 768px !default;
$bp-sm: 460px !default;

$bp-lg-max-width: ($bp-xl - 1) !default;
$bp-md-max-width: ($bp-lg - 1) !default;
$bp-sm-max-width: ($bp-md - 1) !default;
$bp-xs-max-width: ($bp-sm - 1) !default;

$bp-xl-container: 1200px !default;
$bp-lg-container: 960px !default;
$bp-md-container: 750px !default;
$bp-sm-container: 100% !default;


/* Colourscheme
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/*  A nicer colour palette for the web via http://clrs.cc/  */
/* Cool */
$aqua: #7FDBFF;
$blue: #0074D9;
$navy: #001F3F;
$teal: #39CCCC;
$green: #2ECC40;
$olive: #3D9970;
$lime: #01FF70;

/* Warm */
$yellow: #FFDC00;
$orange: #FF851B;
$red: #FF4136;
$fuchsia: #F012BE;
$purple: #B10DC9;
$maroon: #85144B;

/* Grayscale */
$white: #fff;
$silver: #ddd;
$gray: #aaa;
$black: #111;

/* Social network colours */
$facebook: #3b5999;
$twitter: #55acee;
$linkedin: #0077B5;
$googleplus: #dd4b39;
$instagram: #e4405f;
$pinterest: #bd081c;

/* Brand - https://coolors.co/292f36-694873-2ec4b6-4e8098-90c2e7 */
$primary: #2EC4B6;  // Maximum Blue Green
$secondary: #90C2E7;  // Light Cornflower Blue

$cyber-grape: #694873;
$cyan-azure: #4E8098;

$text-colour: #292f36;  // Gunmetal
$text-colour-87: rgba(41,47,54,.87);
$text-colour-54: rgba(41,47,54,.54);
$text-colour-12: rgba(41,47,54,.12);

$grey: #EBECEC;

/* Gradients */
.gradient { width: 100%; }

.gradient--primary {
    background: rgba(46,196,181,1);
    background: -moz-linear-gradient(top, rgba(46,196,181,1) 0%, rgba(141,222,215,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(46,196,181,1)), color-stop(100%, rgba(141,222,215,1)));
    background: -webkit-linear-gradient(top, rgba(46,196,181,1) 0%, rgba(141,222,215,1) 100%);
    background: -o-linear-gradient(top, rgba(46,196,181,1) 0%, rgba(141,222,215,1) 100%);
    background: -ms-linear-gradient(top, rgba(46,196,181,1) 0%, rgba(141,222,215,1) 100%);
    background: linear-gradient(to bottom, rgba(46,196,181,1) 0%, rgba(141,222,215,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2ec4b5', endColorstr='#8dded7', GradientType=0 );
}

.gradient--secondary {
    background: rgba(144,193,231,1);
    background: -moz-linear-gradient(top, rgba(144,193,231,1) 0%, rgba(194,221,241,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(144,193,231,1)), color-stop(100%, rgba(194,221,241,1)));
    background: -webkit-linear-gradient(top, rgba(144,193,231,1) 0%, rgba(194,221,241,1) 100%);
    background: -o-linear-gradient(top, rgba(144,193,231,1) 0%, rgba(194,221,241,1) 100%);
    background: -ms-linear-gradient(top, rgba(144,193,231,1) 0%, rgba(194,221,241,1) 100%);
    background: linear-gradient(to bottom, rgba(144,193,231,1) 0%, rgba(194,221,241,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#90c1e7', endColorstr='#c2ddf1', GradientType=0 );
}

.gradient--debug {
    background: rgba(246,148,194,1);
    background: -moz-linear-gradient(top, rgba(246,148,194,1) 0%, rgba(249,186,215,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(246,148,194,1)), color-stop(100%, rgba(249,186,215,1)));
    background: -webkit-linear-gradient(top, rgba(246,148,194,1) 0%, rgba(249,186,215,1) 100%);
    background: -o-linear-gradient(top, rgba(246,148,194,1) 0%, rgba(249,186,215,1) 100%);
    background: -ms-linear-gradient(top, rgba(246,148,194,1) 0%, rgba(249,186,215,1) 100%);
    background: linear-gradient(to bottom, rgba(246,148,194,1) 0%, rgba(249,186,215,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f694c2', endColorstr='#f9bad7', GradientType=0 );
    border-color: #E087B0;
}

/* Platform */
$switch: #E60012;
$ps4: #01378f;
$xbox-one: #099006;
$wii-u: #009ac7;
$ps3: #282525;
$xbox-360: #99ce28;


/* Fonts
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@import url('https://fonts.googleapis.com/css?family=Athiti:300,400,500,600,700|Quantico:400,700|Stint+Ultra+Condensed');

$heading-font: 'Quantico', sans-serif;
$body-font: 'Athiti', sans-serif;
$special-font: 'Stint Ultra Condensed', cursive;


/* Miscellaneous
–––––––––––––––––––––––––––––––––––––––––––––––––– */
$animation-speed: 500ms;
